<!-- footer.html: -->

<footer class="footer-main">
  <div class="wrapper-main footer-main-flex">
    <p id="version-number">V{{versionNum}}</p>

    <button
      [routerLink]="ROUTE_LINKS.CONTACT"
      routerLinkActive="active"
      #contactActive="routerLinkActive"
      [attr.aria-current]="contactActive.isActive ? 'page' : null"
      class="footer-getintouch"
      type="button">
      GET IN TOUCH WITH ME
    </button>

    <nav aria-label="Footer navigation" class="footer-sitemap">
      <ul>
        @for (link of ROUTE_LINKS_ARRAY; track link.path) {
          <li>
            <a
              [routerLink]="link.path"
              routerLinkActive="active"
              #rla="routerLinkActive"
              [attr.aria-current]="rla.isActive ? 'page' : null"
            >
              {{ link.label }}
            </a>
          </li>
        }

        <!-- Resume: -->
        <li>
          <a
            href="../../../assets/PDFs/faariz-resume.pdf"
            target="_blank"
            rel="noopener"
            aria-label="Resume, opens in new tab"
          >
            RESUME
          </a>
        </li>
      </ul>

      <ul>
        @for (workPage_link of WORKPAGE_LINKS; track workPage_link;) {
          <li>
          <a
            [routerLink]="ROUTE_LINKS.WORK"
            [fragment]="workPage_link.fragment"
          >
            {{workPage_link.text}}
          </a>
          </li>
        }
      </ul>

      <ul>
        <li>
          <p>
            If you want to collaborate or hire me for a job, then don't
            hesitate to send me an e-mail, or call me to arrange a small
            meeting!
          </p>
        </li>
      </ul>

      <ul>
        <li>
          <p>GET IN TOUCH</p>
        </li>

        @for (contact of CONTACT_INFO; track contact;) {
          <li>
            <p>
              <a
                [attr.href]=
                  "contact.type === 'phone' ? 'tel:' + contact.value : 'mailto:' + contact.value"
                [class]="contact.type + '_info'"
              >
                {{contact.display}}
              </a>
            </p>
          </li>
        }
      </ul>
    </nav>
      <p id="copyright-notice">© {{currentYear}} Faariz Haider Sheikh</p>
  </div>
</footer>
