<!-- header.html: -->

<header class="header-main">

  <div class="header-main-logo">
    <!-- LOGO: -->
    <a routerLink="{{ROUTE_LINKS.HOME}}" routerLinkActive="active">
      <img
        ngSrc="../../../assets/Images/Header/faariz-logo-1.png"
        alt="Faariz logo"
        height="40"
        width="100"
        priority
      />
    </a>

    <!-- NAVIGATION: -->
    <nav class="header-main-nav">
      <ul>
        <!-- About: -->
        <li>
          <a
            routerLink="{{ROUTE_LINKS.ABOUT}}"
            routerLinkActive="active"
            #aboutActive="routerLinkActive"
            [attr.title]="aboutActive.isActive ? 'You are here.' : 'Get to know me.'"
          >
            ABOUT
          </a>
        </li>

        <!-- Contact: -->
        <li>
          <a
            routerLink="{{ROUTE_LINKS.CONTACT}}"
            routerLinkActive="active"
            #contactActive="routerLinkActive"
            [attr.title]="contactActive.isActive ? 'You are here.' : 'Question, Feedback, Collaboration?'"
          >
            CONTACT
          </a>
        </li>

        <!-- Work: -->
        <li>
          <a
            routerLink="{{ROUTE_LINKS.WORK}}"
            routerLinkActive="active"
            #workActive="routerLinkActive"
            [attr.title]="workActive.isActive ? 'You are here.' : 'Know about my work.'"
          >
            WORK
          </a>
        </li>

        <!-- Resume: -->
        <li>
          <a
            href="../../../assets/PDFs/faariz-resume.pdf"
            target="_blank"
            rel="noopener"
            title="See my Resume."
          >
            RESUME
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <!-- SOCIAL MEDIA: -->
  <div class="header-main-sm">
    <a href="https://www.github.com" target="_blank" rel="noopener" title="Follow me on GitHub.">
      <div class="sm header-main-sm-github"></div>
    </a>

    <a href="https://www.instagram.com" target="_blank" rel="noopener" title="Follow me on my Instagram.">
      <div class="sm header-main-sm-ig"></div>
    </a>

    <a href="https://kdp.amazon.com" target="_blank" rel="noopener" title="Follow me on Amazon KDP.">
      <div class="sm header-main-sm-kdp" #kdpContainer></div>
    </a>

    <a href="https://www.linkedin.com" target="_blank" rel="noopener" title="Follow me on Linkedin.">
      <div class="sm header-main-sm-linkedin"></div>
    </a>

    <a href="https://www.medium.com" target="_blank" rel="noopener" title="Follow me on Medium.">
      <div class="sm header-main-sm-medium"></div>
    </a>

    <a href="https://www.twitter.com" target="_blank" rel="noopener" title="Follow me on X (Formerly Twitter).">
      <div class="sm header-main-sm-twitterx"></div>
    </a>

    <a href="https://www.unity.com" target="_blank" rel="noopener" title="Follow me on Unity.">
      <div class="sm header-main-sm-unity-engine"></div>
    </a>
  </div>
</header>
